@import "bootstrap/scss/bootstrap";
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

[data-theme="dark"] {
  background: #212121;
  color: #FAFAFA;

  .card {
    background: #494848 !important;
    color: #FAFAFA;
  }
}
